<div id="front-page-bg">
    <div id="loading-room-text">
        <h2>Sorry your browser does not support this website</h2>
        <p>In order to use this service, please use the latest version of Firefox or Chrome.</p>
    </div>
</div>