@media handheld, screen and (min-width: 520px) and (max-width: 759px) and (min-height: 440px){

    .modal {
        position: fixed;
        top: 30px;
        right: 20px;
        left: 20px;
        width: auto;
        margin: 0;
    }

    #login-centralized
    {
        width:500px;
    }

    #login-container-left-pane
    {
        float: left;
        width: 480px;
    }

    #login-container-right-pane
    {
        margin-top: 10px;
        float: left;
        width:480px;
    }

    #join-room-button {
        margin-top: 10px;
    }

    .front-page-input {
        width:100%;
        min-height: 30px;
        box-sizing: border-box;
        margin: auto;
    }


    .front-page-button {
        min-width: 100%;
    }

    .responsive-nav {
        position: fixed;
        width: auto;
        right: 0px;
        left: 0px;
        top: 25px;
        height: 30px;
    }

    .nav-group {
        width: 100%;
        background-color: #363636
    }

    .nav-group .btn {
        width: 50%;
        webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;

    }

    #loading-room-text
    {
        width: 500px;
    }

    .users-nav-option {
        display: none;
    }

    .chat-nav-option {
        display: none;
    }

    #center-pane {
        position: fixed;
        top: 55px;
        bottom: 25px;
        left: 0px;
        right: 0px;
    }

    #left-pane
    {
        position: fixed;
        left: 0px;
        width: 225px;
        top: 55px;
        bottom: 25px;
        background-color: #F3F5F7;
        border-right: 1px solid;
    }

    #right-pane
    {
        position: fixed;
        width: auto;
        right: 0px;
        left: 226px;
        top: 55px;
        bottom: 25px;
        background-color: #F3F5F7;
    }

    #chat-message-input-container
    {
        position: fixed;
        left: 226px;
        right: 30px;
        width: auto;
        bottom: 125px;
    }

    #chat-message-input
    {
        width: 100%;
    }

    #chat-message-button
    {
        position: fixed;
        right: -2px;
        bottom: 125px;
    }

    #local-user
    {
        position:fixed;
        bottom: 25px;
        right: 0px;
        left:226px;
        width: auto;
        border-top: 1px solid;
        height:99px;
    }

    .remote-user
    {
        width:220px;
    }


    .remote-user-settings
    {
        width: 100px;
    }

    .user-settings
    {
        position:fixed;
        left:326px;
        right: 0px;
        width: auto;
        height:99px;
    }

}