@media handheld, screen and (min-width: 960px) {

    input.prompt-dialog
    {
        width:400px;
    }


    .empty-list-text
    {
        width:200px;
    }

    .header-title
    {
        position: fixed;
        margin-left: 10px;
        font-size: 18px;
    }


    .header-page-title
    {
        left:0;
        right:0;
        font-size: 18px;
    }

    .registration-toggle {
        text-align: center;
    }

    #login-content
    {
        overflow-y: auto;
    }

    #login-centralized
    {
        margin: auto;
        position: absolute;
        left:0;
        right:0;
        width:940px;
        height:400px;
    }

    #login-container
    {
        float: right;
        z-index: 25;
        width:770px;
        background-color: transparent;
    }

    #login-container-left-pane
    {
        float: left;
        padding:8px;
        width:490px;
        border: 1px solid;
        border-radius:5px;
    }

    #login-container-right-pane
    {
        float: left;
        margin-left: 10px;
        width:220px;
    }

    #login-button
    {
        margin-left: 3px;
    }

    #login-password-input
    {
        width:135px;
        margin-bottom: 0px;
    }

    #loading-room-text
    {
        width: 550px;
    }

    #left-pane
    {
        position: fixed;
        left: 0px;
        top: 25px;
        bottom: 25px;
        background-color: #F3F5F7;
        width: 225px;
        border-right: 1px solid;
    }

    #center-pane
    {
        position: fixed;
        top: 25px;
        bottom: 25px;
        left: 226px;
        right: 226px;
    }

    #right-pane
    {
        position: fixed;
        right: 0px;
        top: 25px;
        bottom: 25px;
        background-color: #F3F5F7;
        width: 225px;
        border-left: 1px solid;
    }

    #toolbar
    {
        z-index:25;
        margin-top: 7px;
        float: right;
    }

    #tabs
    {

    }

    #chat-messages
    {
        width: 221px;
    }

    #chat-message-input
    {
        width: 193px;
    }

    #local-user
    {
        position:fixed;
        bottom: 25px;
        right: 0px;
        border-top: 1px solid;
        border-left: 1px solid;
        height:99px;
        width:225px;
    }

    .remote-user
    {
        width:220px;
    }

    .user-settings
    {
        width: 121px;
    }

    .remote-user-settings
    {
        width: 100px;
    }

    .volume-control
    {
        width:40px;
    }

    .responsive-nav {
        display: none;
    }



}