@media handheld, screen and (min-width: 960px) {

    input.prompt-dialog
    {
        width:400px;
    }


    .empty-list-text
    {
        width:200px;
    }

    .header-title
    {
        position: fixed;
        margin-left: 10px;
        font-size: 18px;
    }


    .header-page-title
    {
        left:0;
        right:0;
        font-size: 18px;
    }

    .registration-toggle {
        text-align: center;
    }

    #login-content
    {
        overflow-y: auto;
    }

    #login-centralized
    {
        margin: auto;
        position: absolute;
        left:0;
        right:0;
        width:940px;
        height:400px;
    }

    #login-container
    {
        float: right;
        z-index: 25;
        width:770px;
        background-color: transparent;
    }

    #login-container-left-pane
    {
        float: left;
        padding:8px;
        width:490px;
        border: 1px solid;
        border-radius:5px;
    }

    #login-container-right-pane
    {
        float: left;
        margin-left: 10px;
        width:220px;
    }

    #login-button
    {
        margin-left: 3px;
    }

    #login-password-input
    {
        width:135px;
        margin-bottom: 0px;
    }

    #loading-room-text
    {
        margin: auto;
        position: absolute;
        width: 550px;
        height: 200px;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }

    #header-bar
    {
        position: fixed;
        z-index: 25;
        padding-top: 2px;
        height: 23px;
        background-color: #2C2C2D;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    #left-pane
    {
        position: fixed;
        left: 0px;
        top: 25px;
        bottom: 25px;
        background-color: #F3F5F7;
        width: 225px;
        border-right: 1px solid;
    }

    #center-pane
    {
        position: fixed;
        top: 25px;
        bottom: 25px;
        left: 226px;
        right: 226px;
        padding: 5px 19px 4px 19px;
        background-color: #ECEBE8;
        overflow-y: auto;
    }

    #right-pane
    {
        position: fixed;
        right: 0px;
        top: 25px;
        bottom: 25px;
        background-color: #F3F5F7;
        width: 225px;
        border-left: 1px solid;
    }

    #footer-bar
    {
        position: fixed;
        z-index: 25;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #2C2C2D;
        height: 22px;
        padding-top: 3px;
    }

    #toolbar
    {
        z-index:25;
        margin-top: 7px;
        float: right;
    }

    #invite-friends-button
    {
        float:left;
        margin-right: 4px;
    }


    #tabs
    {

    }

    #chat-messages
    {

        width: 221px;
        padding: 2px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow-y: scroll;
        overflow-x: hidden;

    }

    #chat
    {
        height: 600px;
        width: 225px;
    }

    #chat-message-input
    {
        float: left;
        width: 193px;
        height: 16px;
        padding: 2px;
    }

    .chat-text
    {
        font-size: 12px;
    }

    #local-user
    {
        position:fixed;
        bottom: 25px;
        right: 0px;
        border-top: 1px solid;
        height:99px;
        width:225px;
        background-color: #ECEBE8;
        overflow: hidden;
    }

    .remote-user
    {
        float: left;
        border-bottom: 1px solid;
        height:99px;
        width:225px;
        background-color: #ECEBE8;
        overflow: hidden;
    }

    .user-picture
    {
        float: left;
        height:99px;
        width:99px;
        border-right: 1px solid;
    }

    .user-picture-settings-screen
    {
        height:99px;
        width:99px;
        border: 1px solid;
    }

    .user-settings
    {
        float:left;
        padding: 2px;
        height:99px;
        width: 121px;
    }


}