html
{
    padding: 0px;
    margin: 0px;
    height:100%;
    min-height:100%;
}

body
{
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height:100%;
}

a
{
    color: #008BC2;
    cursor: pointer;
}

a.no-underline
{
    text-decoration: none
}

form.no-margin
{
    margin:0;
}

img
{
    max-width: none;
}

img.profile-picture
{
    height: 99px;
    width: 99px;
}

textarea
{
    resize: none;
}

p.small-spacing
{
  margin-bottom: 0.1em;
}

input.remember-check-box
{
    margin: 0;
    height: 13px;
    vertical-align: text-top;
}

input.prompt-dialog
{
    width:400px;
}

img.centralized
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.no-text-selection
{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.centralized-text
{
    text-align: center;
}

.standard-cursor {
    cursor: default !important;
}

.horizontal-row {
    width:100%;
    height: 1px;
    background-color: #999999;
    margin: 5px 2px;
}

.vertical-spacing
{
    margin: 0;
    height: 16px;
    display: block;
}

.small-vertical-spacing
{
    margin: 0;
    height: 4px;
    display: block;
}

.display-inline-block
{
    display:inline-block;
}

.clear
{
    clear: both;
}

.no-margin
{
    margin:0;
}

.separator
{
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.ellipsis
{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.color-icon
{
    vertical-align: text-top;
    display: inline-block;
    border-radius: 2px;
    height:14px;
    width:14px;
}

.empty-list-text
{
    width:200px;
    text-align:center;
    overflow:hidden;
}

.header-title
{
    position: fixed;
    margin-left: 10px;
    font-weight: bolder;
    color: white;
    font-size: 18px;
}

.header-title:hover {
    color:white;
}

.header-title:visited {
    color:white;
}

.header-page-title
{
    left:0;
    right:0;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.header-footer-text
{
    color: white;
}

.registration-toggle {
    text-align: center;
}

.github-logo-small {
    margin-top: 1px;
    height: 16px;
    width: 16px;
}

.github-referral {
    float: left;
    font-size: 16px;
    padding-left: 10px;
}

.github-referral:hover {
    color: #999999;
    text-decoration: underline;
}

.copyright-text
{
    float:right;
    font-size: 16px;
    padding-right: 10px;
}

.remember-forgot-password
{
    display: inline;
    float:left;
    font-size: 11px;
    line-height: 20px;
}

.front-page-text
{
    color: #eee;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.front-page-text-background
{
    background-color: #ECEBE8;
    display: inline !important;
}

#front-page-bg {
    position: fixed;
    top:0px;
    left: 0;
    right:0;
    bottom: 0px;
    background: #ECEBE8 url("../images/letmeexplainit-bg.png") repeat;
}

#login-content
{
    overflow-y: auto;
}


#login-centralized
{
    margin: auto;
    position: absolute;
    left:10px;
    right:10px;
}

#login-container
{
    z-index: 25;
    background-color: transparent;
}

#login-container-left-pane
{
    /* Fallback for web browsers that doesn't support RGBa */
    background-color: rgb(243, 245, 247);
    padding:8px;
    border: 1px solid;
    border-radius:5px;
}

#login-container-right-pane
{
    float: left;
    /* Fallback for web browsers that doesn't support RGBa */
    background-color: rgb(243, 245, 247);
    border: 1px solid;
    padding:8px;
    width:220px;
    border-radius:5px;
    margin-bottom: 45px;
}

#login-password-input
{
    float:left;
}

#loading-room-text
{
    margin: auto;
    position: absolute;
    width: 550px;
    height: 200px;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

#header-bar
{
    position: fixed;
    z-index: 25;
    padding-top: 2px;
    height: 23px;
    background-color: #2C2C2D;
    top: 0px;
    left: 0px;
    right: 0px;
}

#footer-bar
{
    position: fixed;
    z-index: 25;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #2C2C2D;
    height: 22px;
    padding-top: 3px;
}

#center-pane
{
    padding: 5px 0 4px 0;
    background-color: #ECEBE8;
    overflow-y: auto;
}

#toolbar
{
    z-index:25;
    margin: 7px 10px 0 0;
    float: right;
}

#invite-friends-button
{
    float:left;
    margin-right: 4px;
}

#maps-follow-dropdown-menu
{
    width:208px !important;
    right: auto !important;
    left: -150px;
}

#left-pane
{
    background-color: #F3F5F7;
    overflow-y: scroll;
    overflow-x: hidden;
}

#canvas
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    background-color: #F3F5F7;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#map
{
    width:500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

#chat-messages
{
    padding: 2px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat
{

}

#chat-message-input
{
    float: left;
    height: 16px;
    padding: 2px;
}

.nav-tabs
{
    padding-left: 10px;
}

.chat-text
{
    font-size: 12px;
}

#local-user
{
    background-color: #ECEBE8;
    overflow: hidden;
}

.remote-user
{
    float: left;
    border-bottom: 1px solid;
    height:99px;
    background-color: #ECEBE8;
    overflow: hidden;
}

.user-picture
{
    float: left;
    height:99px;
    width:99px;
    border-right: 1px solid;
}

.user-picture-settings-screen
{
    height:99px;
    width:99px;
    border: 1px solid;
}

.user-settings
{
    float:left;
    height:99px;
    padding: 2px;
}

.remote-user-settings
{
    float:left;
    height:99px;
    padding: 2px;
}

.volume-control
{
    height:20px;
}

.icon-microphone
{
    height:16px;
    width: 16px;
    background: url("../images/icons/mic.png");
}

.icon-logo
{
    height: 16px;
    width: 16px;
    background: url("../images/logo.png") 0px 3px no-repeat;
}

#scroll-to-menu
{
    display: none;
}