<div class="modal-header">
    <h3>Forgot password</h3>
</div>
<div class="modal-body">
    <form ng-submit="resetPassword()">
        <input type="text" placeholder="Enter your email address" ng-model="email" /></br>
        <input type="submit" ng-disabled="!canClickResetPassword" class="btn btn-primary" value="Submit"/>
    </form>
    <p ng-show="showErrorText" class="text-error">{{ errorText }}</p>
    <p ng-show="showSuccessText" class="text-success">{{ successText }}</p>
</div>
<div class="modal-footer">
    <button ng-click="onCloseClicked()" class="btn">Close</button>
</div>