<div class="modal-header">
    <h3>{{ title }}</h3>
</div>
<div class="modal-body">
    <p>{{ content }}</p>
</div>
<div class="modal-footer">
    <button ng-click="confirm()" class="btn">Yes</button>
    <button ng-click="cancel()" class="btn">No</button>
</div>
